# Participants

Title = "Scholar"

Name = "Muhammad Faizan Arshad"

Email = "faizanarshad124@gmail.com"

Whatsapp = "+923205501341"

In [395]:

import pandas as pd
import numpy as np
dates = pd.date_range("20211010", periods=6)
dates
df = pd.DataFrame(np.random.rand(6,4),index= dates,columns = list("ABCD"))
df

                   A         B         C         D
2021-10-10  0.228486  0.799295  0.343294  0.550987
2021-10-11  0.217977  0.026125  0.438773  0.605440
2021-10-12  0.500903  0.349565  0.793342  0.085398
2021-10-13  0.564662  0.325065  0.087429  0.467522
2021-10-14  0.728451  0.542532  0.259199  0.024571
2021-10-15  0.819183  0.558938  0.582806  0.110892

In [396]:
df2 = pd.DataFrame(
    {
        "A":  1.0,
        "B":  pd.Timestamp("20210605"),
        "C" : pd.Series(1,index=list(range(4)),dtype="float32"),
        "D" : np.array([3]*4, dtype="int32"),
        "E" : pd.Categorical(["girl","women","girl","women"]),
        "F": "female"
    }
)
df2

     A          B    C  D      E       F
0  1.0 2021-06-05  1.0  3   girl  female
1  1.0 2021-06-05  1.0  3  women  female
2  1.0 2021-06-05  1.0  3   girl  female
3  1.0 2021-06-05  1.0  3  women  female

> Dtype is the code use to know the type of the veriable

In [397]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

To know the data set aur preview it we use the two commands

In [398]:
df2.head()

     A          B    C  D      E       F
0  1.0 2021-06-05  1.0  3   girl  female
1  1.0 2021-06-05  1.0  3  women  female
2  1.0 2021-06-05  1.0  3   girl  female
3  1.0 2021-06-05  1.0  3  women  female

In [399]:
df.head(1)

                   A         B         C         D
2021-10-10  0.228486  0.799295  0.343294  0.550987

In [400]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [401]:
df.to_numpy()

array([[0.22848614, 0.79929491, 0.34329371, 0.55098737],
       [0.21797719, 0.02612544, 0.43877262, 0.6054398 ],
       [0.50090347, 0.34956491, 0.79334159, 0.08539772],
       [0.56466203, 0.32506536, 0.08742941, 0.46752233],
       [0.7284513 , 0.54253228, 0.25919866, 0.02457122],
       [0.81918269, 0.55893804, 0.58280551, 0.1108921 ]])

In [402]:
df2.to_numpy()

array([[1.0, Timestamp('2021-06-05 00:00:00'), 1.0, 3, 'girl', 'female'],
       [1.0, Timestamp('2021-06-05 00:00:00'), 1.0, 3, 'women', 'female'],
       [1.0, Timestamp('2021-06-05 00:00:00'), 1.0, 3, 'girl', 'female'],
       [1.0, Timestamp('2021-06-05 00:00:00'), 1.0, 3, 'women', 'female']],
      dtype=object)

In [403]:
df2.sort_values(by="C",ascending=True)

     A          B    C  D      E       F
0  1.0 2021-06-05  1.0  3   girl  female
1  1.0 2021-06-05  1.0  3  women  female
2  1.0 2021-06-05  1.0  3   girl  female
3  1.0 2021-06-05  1.0  3  women  female

In [404]:
df[0:2]

                   A         B         C         D
2021-10-10  0.228486  0.799295  0.343294  0.550987
2021-10-11  0.217977  0.026125  0.438773  0.605440

In [405]:
df.loc[dates[0]]

A    0.228486
B    0.799295
C    0.343294
D    0.550987
Name: 2021-10-10 00:00:00, dtype: float64

In [406]:
df2.loc[:,["A","B"]]

     A          B
0  1.0 2021-06-05
1  1.0 2021-06-05
2  1.0 2021-06-05
3  1.0 2021-06-05

In [407]:
df.head

<bound method NDFrame.head of                    A         B         C         D
2021-10-10  0.228486  0.799295  0.343294  0.550987
2021-10-11  0.217977  0.026125  0.438773  0.605440
2021-10-12  0.500903  0.349565  0.793342  0.085398
2021-10-13  0.564662  0.325065  0.087429  0.467522
2021-10-14  0.728451  0.542532  0.259199  0.024571
2021-10-15  0.819183  0.558938  0.582806  0.110892>

In [408]:
df.loc["20211010":"20211015",["A","B"]]

                   A         B
2021-10-10  0.228486  0.799295
2021-10-11  0.217977  0.026125
2021-10-12  0.500903  0.349565
2021-10-13  0.564662  0.325065
2021-10-14  0.728451  0.542532
2021-10-15  0.819183  0.558938

In [409]:
df.loc["20211010",["A","B","C","D"]]

A    0.228486
B    0.799295
C    0.343294
D    0.550987
Name: 2021-10-10 00:00:00, dtype: float64

In [410]:
df.iloc[3]

A    0.564662
B    0.325065
C    0.087429
D    0.467522
Name: 2021-10-13 00:00:00, dtype: float64

In [411]:
df.iloc[: ,0:3]

                   A         B         C
2021-10-10  0.228486  0.799295  0.343294
2021-10-11  0.217977  0.026125  0.438773
2021-10-12  0.500903  0.349565  0.793342
2021-10-13  0.564662  0.325065  0.087429
2021-10-14  0.728451  0.542532  0.259199
2021-10-15  0.819183  0.558938  0.582806

In [412]:
df.iloc[0:3 ,:]

                   A         B         C         D
2021-10-10  0.228486  0.799295  0.343294  0.550987
2021-10-11  0.217977  0.026125  0.438773  0.605440
2021-10-12  0.500903  0.349565  0.793342  0.085398

In [413]:
df[df["A"]>0.1]

                   A         B         C         D
2021-10-10  0.228486  0.799295  0.343294  0.550987
2021-10-11  0.217977  0.026125  0.438773  0.605440
2021-10-12  0.500903  0.349565  0.793342  0.085398
2021-10-13  0.564662  0.325065  0.087429  0.467522
2021-10-14  0.728451  0.542532  0.259199  0.024571
2021-10-15  0.819183  0.558938  0.582806  0.110892

In [414]:
df2["new"]=[1,2,1,2]